<footer>
 <div class="footer">
    <a href="http://www.amadeus.com/web/amadeus/en_1A-corporate/amadeus/1319560218660-Page-AMAD_Detail_PopUp_Ppal?assetid=1319477937516&assettype=DataProtection_C">© 2015 Amadeus IT Group SA</a> | <a href="">Term of Use</a> | <a href="http://www.amadeus.com/web/amadeus/en_1A-corporate/amadeus/1319560218660-Page-AMAD_Detail_PopUp_Ppal?assetid=1319477937825&assettype=DataProtection_C">Privacy Policy</a> | <a href="http://www.amadeus.com">Visit amadeus.com</a>
 </div>
</footer>
