<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />

    <title>Travel Intelligence - {{ page.title }}</title>
  </head>


  <body>
    <div>
      <header>
        <div style="float:left; margin-left:6px">
          <h1> Travel Intelligence</h1>
          <h2> Developer Website</h2>
        </div>
        <div style="float:right; margin-right:15px">
          <div id="slogan">Leveraging Big Data to Shape the Future of Travel</div>
          <p class="view" style="text-align:right"><a href="https://github.com/travel-intelligence">View on GitHub</a></p>
        </div>
        <div style="clear:both"/>
      </header>
    </div>

    <section>
      {{ content }}
    </section>

  </body>
      
</html>

{% include footer.html %}